<!DOCTYPE html>
<html>
    <head>
        <title>Menu Nona's Sweet Creation</title>
</head>
<h1>Nona's Sweet Creations</h1>
<body>
    <table border="1">
        <tr>
            <th colspan="1" bgcolor="#E6896B">Menu</th>
        </tr>
        <tr>
            <td rowspan="1">
                <img src="https://images.tokopedia.net/img/cache/700/VqbcmM/2022/11/7/7a52f071-fdae-47e6-a60a-b35f52e8529d.jpg" width="200" />
            </td>
        </tr>
    </table>
</body>
<h5>Item Name: </h5>
<p>{{name}}<p>
<h5>Stock Amount: </h5>
<p>{{amount}}<p>
<h5>Description: </h5>
<p>{{description}}<p>
<h5>Price: </h5>
<p>{{price}}<p>
<h5>Category: </h5>
<p>{{category}}<p>
</html>